@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');

:root {
    --fonte1: "Sarala", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.header {
    background-color: #0046ad;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.header .logo img {
    height: 50px;
}
.header .logo span {
    font-size: 24px;
    margin-left: 10px;

}
.header nav {
    display: flex;
    gap: 20px;
}
.header nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.header .user {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.header .user span {
    margin-right: 10px;
}
.header .user i {
    font-size: 24px;
    margin-right: 20px;

}


#recepcao h1 {
    font-size: 1.5em;
    border-radius: 45px;
    background-color: #0459c9;
    padding: 20px;
    margin: 20px 0;
    color: white;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#recepcao {
    margin-top: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.image {
    max-width: 100%;
    height: auto;
}

.image img {
    width: 100%;
    height: auto;
}

section#controle{
    background: url("img/paralax.png");
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(0, 0, 0);
}
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .image3 {
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
 
h2{
    text-align: center;
    color: #0459c9;
    padding: 40px 10px 10px 10px;

}

.row{
    display: flex;
    background-color: #0459c9;
}

.column1 {
    float: righ;
    width: 50%;  
    height: 50%;  
    padding: 30px 20px 19px 50px;
}

.column2{
    float: right;
    width: 50%;
}

#imgcolumn{
    margin-top: 10px;
    width: 700px;
    height: 500px; 
    background-color: rgba(0, 0, 0, 0.118);
    box-shadow: -11px 11px 12px 3px rgb(12 24 133);
}

#imgcolumn2{
    height: 15%;
    width: 40%;
    margin-left: 27px;
    margin-top: -55px;
}
/* quer empreender? */

.container {
    text-align: center;
    border: 5px solid white;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 40%;
    height: 50%;
}
.container h1 {
    font-size: 18px;
    margin-bottom: 20px;
}
.container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.container input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #e0e4e7;
}
.container button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}
.container button:hover {
    background-color: #003976;;
}

/* footer */

.navbar {
    background-color: #0046ad;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -40px;
}
.navbar img {
    height: 40px;
    margin-right: 20px;
}
.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
.navbar a:hover {
    text-decoration: underline;
}